{% extends "base.html" %}

{% block title %}{{ tag }} &mdash; {{ collection.label }} &mdash; {{ site.name }}{% endblock %}

{% block content %}
<section class="tag-page">
    <h1>{{ collection.label }} tagged &ldquo;{{ tag }}&rdquo;</h1>
    <ul class="post-list-simple">
        {% for entry in entries %}
        <li>
            {% if entry.date %}
            <time datetime="{{ entry.iso_date }}">{{ entry.formatted_date }}</time>
            {% endif %}
            <a href="{{ collection.url_prefix }}{{ entry.slug }}/">{{ entry.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <p class="back-link"><a href="{{ collection.url_prefix }}tags/">&larr; All tags</a></p>
</section>
{% endblock %}
